input {
    padding: 5px;

}

.button {
    background: transparent;
    border: none; 
    outline: none; 
    cursor: pointer;
    height: 30px;
    width: 30px;
}

.Danger{
    border-color: red;
}
.Valid{
    border-color: green;
}

.save_form{
    background: lightblue;
    border: 1px solid #ccc; 
    outline: none; 
    cursor: pointer;
    display: flex;
    align-items: center;
}

.progress {
    display: inline-block;
    text-align: center;
    width: 100%;
}

.error_message{
    margin: 0 auto; 
    color: red; 
    text-align: center;
    width: 100%;
}